.Quotes {
    width: 100%;
    padding: 0 0 80px 0;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.title {
    font-family: var(--font-trajanpro);
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.15;
    color: #fff;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
}

.grid > * {
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


.frame {
  position: relative;
  padding: clamp(3rem, 6vw, 5rem);
  border-radius: 20px;
  background: #008584;

  /* Floating depth */
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.06);
}

