.card {
  border-radius: 1rem;
  padding: 2rem 1rem;
  text-align: start;
  max-width: 420px;
  width: 100%;
  border: 2px solid #111;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: var(--font-trajanpro);
  font-size: 1rem;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  text-align: end;
}

.description {
    font-family: var(--font-sora);
    font-weight: 400;
    color: #333;
    font-size: 0.95rem;
    line-height: 1.7;
    margin: 0 auto;
    text-align: start;
}

@media (max-width: 480px) {
  .card {
    padding: 2.25rem 1.75rem;
  }

  .title {
    font-size: 1rem;
  }
}
