.contactSection {
  background: #008584;
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
}

.left {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.title span {
    display: block;
}

.title {
    font-family: var(--font-trajanpro);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.15;
    color: #fff;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
}

.description {
    font-family: var(--font-sora);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 1.7;
    max-width: 50rem;
    margin: 0 auto;
    color: #e6f2f1;
}

@media (max-width: 768px) {
  .description {
    font-size: 0.95rem;
    line-height: 1.65;
  }
}

@media (max-width: 480px) {
  .description {
    font-size: 0.9rem;
    line-height: 1.6;
  }
}



.highlight {
  color: #C2EA9C;
}

.form {
  background: transparent;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field label {
    font-family: var(--font-sora);
    font-weight: 400;
  color: #e6f2f1;
  font-size: 13px;
  margin-bottom: 6px;
}

.field input,
.field select,
.field textarea {
  background: #d6e3e2;
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-size: 14px;
  font-family: var(--font-sora);
  font-weight: 400;
}

.field span {
  color: #ffcccc;
  font-size: 12px;
  margin-top: 6px;
  font-family: var(--font-sora);
  font-weight: 400;
}

.submitBtn {
  margin-top: 10px;
  align-self: flex-end;
  background: #fff;
  color: #008584; 
  font-family: var(--font-sora);
  border: none;
  padding: 12px 32px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.submitBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.success {
  font-family: var(--font-sora);
  font-weight: 400;
  letter-spacing: 2;
  margin-top: 1rem;
  color: #c8ff00;
  font-size: 1rem;
}
.error {
  font-family: var(--font-sora);
  font-weight: 400;
  letter-spacing: 2;
  margin-top: 1rem;
  color: rgb(220, 74, 74);
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }


  .row {
    grid-template-columns: 1fr;
  }

  .submitBtn {
    align-self: flex-start;
  }
}
