.Numbers {
    width: 100%;
    padding-top: 0;
    padding-bottom: 80px;
}


.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.numbersTitle {
    font-family: var(--font-trajanpro);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.15;
    color: #111;
}

@media (max-width: 1024px) {
  .numbersTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .numbersTitle {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .numbersTitle {
    font-size: 1.6rem;
  }
}

.numbersDescription {
    font-family: var(--font-sora);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 1.7;
    max-width: 50rem;
    margin: 0 auto;
    color: #111;

  
}

@media (max-width: 768px) {
  .numbersDescription {
    font-size: 0.95rem;
    line-height: 1.65;
  }
}

@media (max-width: 480px) {
  .numbersDescription {
    font-size: 0.9rem;
    line-height: 1.6;
  }
}

.NumbersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* Tablet */
@media (max-width: 1024px) {
  .NumbersGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .NumbersGrid {
    grid-template-columns: 1fr;
  }
}
