/* .row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  gap: 60px;
  width: 100%;
  padding-top: 80px;
}

.card {
  flex: 1;
  max-width: 320px;
  aspect-ratio: 3 / 4;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  background: #000;
}

@media (min-width:768px) {
  .center {
  transform: translateY(-80px);
}
  
}

.imageWrap {
  position: absolute;
  inset: 0;
}

.imageWrap img {
  object-fit: cover;
}

.info {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0)
  );
}

.name {
  font-family: var(--font-sora);
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #a8ff6a;
}

.role {
  font-family: var(--font-sora);
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .card {
    width: 100%;
  }
} */




.card {
  aspect-ratio: 3 / 4;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  background: #000;
  cursor: pointer;
}

@media (min-width:768px) {
  .center {
  transform: translateY(-80px);
}
  
}

.imageWrap {
  position: absolute;
  inset: 0;
}

.imageWrap img {
  object-fit: cover;
}

.info {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0)
  );
}

.name {
  font-family: var(--font-sora);
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #a8ff6a;
}

.role {
  font-family: var(--font-sora);
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.description {
  position: absolute;
  background: #d9ffff;
  inset: 0;
  padding: 2rem 1.5rem;
  transform: translateY(100%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-sora);
  font-weight: 400;
  font-size: clamp(0.75rem, 1.2vw, 0.95rem);
  line-height: 1.6;
  letter-spacing: clamp(0.12em, 0.3vw, 0.22em);
  overflow: hidden;
}

