html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #F7F7F5;
}

.swcontainer {
    max-width: 1440px;
    padding: clamp(1.25rem, 4vw, 3rem);;
    margin-inline: auto;
}

