.section {
  padding: clamp(4rem, 8vw, 8rem) 1.5rem;
  background: linear-gradient(
  180deg,
  rgba(214, 253, 255, 1) 0%,
  rgba(247, 247, 245, 1) 100%
  );
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
    font-family: var(--font-trajanpro);
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: 700;
    text-transform: uppercase;
}

.title span {
  color: rgba(6, 125, 130, 1);
}


.divider {
  width: 2px;
  height: 25vh;
  margin: 2rem auto 3rem;
  background: #111;
  transform-origin: top;
}

.text {
  font-family: var(--font-sora);
  font-weight: 400;
  font-size: clamp(0.85rem, 1.2vw, 0.95rem);
  line-height: 1.8;
  letter-spacing: 0.12em;
  margin-bottom: 2rem;
  color: #111;
  max-width: 600px;
}


.highlight {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: rgba(0, 133, 132, 0.15);
  border-radius: 999px;
  font-family: var(--font-sora);
  font-size: 0.75rem;
  letter-spacing: 0.14em;
  margin: 2.5rem 0;
}

.left {
  text-align: left;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-left: auto;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.greentext {
  color: #637F4A;
}

.boldtext {
  font-weight: 600;
}
