.sectionwrapper {
  padding: 5rem 0;
}

/* Master grid */
.aboutgrid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}


.aboutflex {
  display: grid;
  grid-template-columns: minmax(0, 42rem) minmax(0, 28rem);
  justify-content: space-between;
  column-gap: clamp(3rem, 8vw, 10rem);
  align-items: start;
}

/* HEADINGS */
.title {
  font-family: var(--font-trajanpro);
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.1;
  margin-bottom: 1rem;
  color: #111;
}

/* BODY COPY */
.bodyText {
  display: flex;
  flex-direction: column;
}

.bodyText p {
  font-family: var(--font-sora);
  font-size: 0.95rem;
  line-height: 1.9;
  letter-spacing: 0.02em;
  color: #111;
}

@media (max-width: 600px) {
  .bodyText p {
    font-size: 0.9rem;
  }
}

.aboutright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.aboutright p {
    font-family: var(--font-sora);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.1em;
    color: #111;
}

.aboutright .boldtext {
    font-weight: 600;
}

/* Tablet */
@media (max-width: 1024px) {
  .aboutflex {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .aboutgrid {
    row-gap: 2rem;
  }

  .aboutflex {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}
