.Benefits {
    width: 100%;
    padding: 80px 0;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.title {
    font-family: var(--font-trajanpro);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.15;
}

.neongreen {
    color: #6EB629;
}

.boldtext {
    font-weight: 700;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2rem;
  margin: 0 auto;
}


.grid > * {

  width: calc((100% - 4rem) / 3); 
  box-sizing: border-box;
}


@media (max-width: 1024px) {
  .grid > * {
    width: calc((100% - 2rem) / 2);
  }
}


@media (max-width: 768px) {
  .grid > * {
    width: 100%;
  }
}