.SectionPadding {
  padding: 0 10px;
}

.visioncard {
  background-color: #008584;
  padding: 2rem 0;
  border-radius: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.grid {
  display: grid;
  gap: 60px;
}

/* TITLES */
.cardTitle {
  font-family: var(--font-trajanpro);
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

/* VISION LAYOUT */
.twocol {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 6rem;
  align-items: center;
}

.imageWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.imageWrap img {
  object-fit: cover;
}

.cardDesc {
  font-family: var(--font-sora);
  font-size: 1.2rem;
  letter-spacing: 3.6px;
  line-height: 1.8;
  color: #ffffff;
  padding: 1.2rem 0;
}

/* MISSION */
.missionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: start;
}

.missionIntro {
  font-family: var(--font-sora);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 3.6px;
  line-height: 1.8;
  color: #ffffff;
  padding: 1.2rem 0;

}

.missionSub {
  margin-top: 2rem;
  font-family: var(--font-sora);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.missionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.missionItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.iconWrap {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.18);

  flex-shrink: 0;
}

.iconWrap img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}


.missionList li {
  font-family: var(--font-sora);
  font-size: 0.95rem;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .twocol,
  .missionGrid {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .twocol,
  .missionGrid {
    grid-template-columns: 1fr;
  }

  .cardTitle {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .visioncard {
    padding: 60px 20px;
  }
}
