.PressCtaSection {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: stretch;
    padding-bottom: 5rem;
}

@media (max-width: 1024px) {
  .PressCtaSection {
    flex-direction: column-reverse;
    gap: 4rem;
  }
}

.leftinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 2rem;
}


.rightimg {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imageWrap {
    position: relative;
    width: 100%;
    flex: 1;              
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 0;     
}

.imageWrap img {
    object-fit: cover;   
}

.title {
    font-family: var(--font-trajanpro);
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.15;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
}
.title {
  white-space: nowrap;
}


.desc {
    font-family: var(--font-sora);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 1.7;
    max-width: 50rem;
    margin: 0 auto;

  
}

@media (max-width: 768px) {
  .desc {
    font-size: 0.95rem;
    line-height: 1.65;
  }
}

@media (max-width: 480px) {
  .desc {
    font-size: 0.9rem;
    line-height: 1.6;
  }
}

.bold {
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 1.5rem;;
}

@media (max-width: 480px) {
  .buttons {
    flex-direction: column;
    width: 100%;
  }
}

.contactBlock {
  font-family: var(--font-sora);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.followBlock {
  font-family: var(--font-sora);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.followLink, .contactLink {
  /* font-size: 0.95rem; */
  color: #025358;
  text-decoration: none;
  position: relative;
  width: fit-content;
}

/* Underline */
.followLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #a8e6c3; /* soft green underline */
  transform: scaleX(1);
  transform-origin: left;
}

.contactLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #a8e6c3; /* soft green underline */
  transform: scaleX(1);
  transform-origin: left;
}