.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.45rem 3rem;
    border-radius: 999px;
    font-family: var(--font-sora);
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 3.6px;
    /* text-transform: uppercase; */
    white-space: nowrap;
    width: fit-content;
}

@media (max-width: 480px) {
  .badge {
    font-size: 0.85rem;
    padding: 0.4rem 2.5rem;
  }
}
